*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
/* Estilo atualizado para o layout */
body {
    display: flex;
    flex-direction: column; /* Garante que os elementos sejam dispostos verticalmente */
    min-height: 100vh; /* Altura mínima de toda a tela */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('img/1.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    flex: 1; /* Faz com que o conteúdo principal ocupe o espaço restante */

}

/* Botão de Cadastrar Médicos */
.botao-container {
    text-align: center;
    margin: 20px 0;
}

.botao-cadastrar {
    background-color: #28a745; /* Verde chamativo */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-cadastrar:hover {
    background-color: #218838; /* Verde mais escuro no hover */
}


h1 {
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

/* Navbar */
.navbar {
    background-color: #293D51;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-left: 15px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-menu a:hover {
    text-decoration: underline;
}

/* Conteúdo Principal */
.conteudo-principal {
    padding: 20px;
}

.tabela-container {
    margin: 0 auto;
    max-width: 800px;
    overflow-x: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #007bff;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9ecef;
}

/* Rodapé */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Garante que o rodapé seja empurrado para o final */
}
