/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('img/1.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center;
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Organiza os elementos em coluna */
    min-height: 100vh; /* Garante que o body ocupe pelo menos a altura da tela */
}

/* Navbar */
.navbar {
    background-color: #293d5176;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-menu li a:hover {
    text-decoration: underline;
}

/* Conteúdo Principal */
.conteudo-principal {
    flex: 1; /* Faz com que o conteúdo principal ocupe o espaço restante */
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes-container {
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 10px; /* Adiciona um espaço entre os botões */
}

.botoes-container button {
    background-color: rgb(57, 57, 220); /* Define a cor azul */
    color: white; /* Define o texto em branco */
    padding: 10px 20px; /* Adiciona preenchimento interno */
    border: none; /* Remove as bordas padrão */
    border-radius: 5px; /* Adiciona cantos arredondados */
    cursor: pointer; /* Mostra o cursor de "clique" */
    font-size: 20px;
}

.botoes-container button:hover {
    background-color: darkblue; /* Muda a cor no hover para azul escuro */
}

/* Rodapé */
footer {
    /* background-color: #343a407e; */
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 5px 0;
    margin-top: auto; /* Garante que o rodapé seja empurrado para o final */
    font-size: 15px;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-menu {
        margin-top: 10px;
    }

    .botoes-container button {
        width: 100%;
    }
}